.dark {
    background-color: #00171F;
    color: #ffffff;
}
.light {
    background-color: #FFEEDB;
    color: #00171F;
}
.headshot {
    top: 20%;
    left: 10%;
}
.home {
    font-family: 'Source Code Pro', monospace;
}