.dark {
    background-color: #00120b;
    color: #fbf2c0;
}
.light {
    background-color: #fbf2c0;;
    color: #c06e52;
}
.headshot {
    top: 20%;
    left: 10%;
}
.home {
    font-family: 'Source Code Pro', monospace;
}